extends ../../layout/index.pug

block content
  .post-preview
    a(href='post.html')
      h2.post-title
        | Man must explore, and this is exploration at its greatest
      h3.post-subtitle
        | 
    p.post-meta
      | Posted by 
      a(href='#') Start Bootstrap
      |  on September 24, 2014
  hr    
